@{
    ViewData["Title"] = "Home Page";
}

@model DigitalRegistry.Models.All_Social_Media

<h2>Social Media</h2>
<hr />

@foreach (var item in Model.results)
{
    <div>
        <h3>
            @Html.DisplayFor(modelItem => item.service_display_name)
        </h3>
        <div>
            @Html.DisplayFor(modelItem => item.language)
        </div>
        <a href="@item.service_url" target="_blank">
            @Html.DisplayFor(modelItem => item.service_url)
        </a>
        <div>
            <h5>Short Description: </h5>
            @Html.DisplayFor(modelItem => item.short_description)
        </div>
    </div>
    <br />
}

